{% extends 'base/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% if paciente %}

<div class="edit-paciente">
    <a href="{% url 'pacientes' %}" class=" w-25 mx-3 mt-2 link-editar">Volver</a>
    <h2 class="text-center mb-3 ">Editar Paciente</h2>
    
    <div class="card">
        <div class="card-body">
            <form action="{% url 'editar_paciente' paciente.id %}" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-lg-9 col-6">
                        {{ form.activo | as_crispy_field }}
                    </div>
                    <div class="col-lg-3 col-6 text-end">
                        <a href="{% url 'eliminar_paciente' paciente.id %}" class="link-eliminar">Eliminar
                            Paciente</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-12">
                        {{ form.nombre | as_crispy_field }}
                    </div>
                    <div class="col-lg-3 col-12">
                        {{ form.apellido | as_crispy_field }}
                    </div>
                    <div class="col-lg-3 col-12">
                        {{ form.dni | as_crispy_field }}
                    </div>
                    <div class="col-lg-3 col-12">
                        {{ form.sexo | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-12">
                        {{ form.direccion | as_crispy_field }}
                    </div>
                    <div class="col-lg-3 col-12">
                        {{ form.telefono | as_crispy_field }}
                    </div>
                    <div class="col-lg-3 col-12">
                        {{ form.email | as_crispy_field }}
                    </div>
                    <div class="col-lg-3 col-12">
                        {{ form.estado_civil | as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-12">
                        {{ form.fecha_nacimiento | as_crispy_field }}
                    </div>
                    <div class="col-lg-3 col-12">
                        {{ form.obra_social | as_crispy_field }}
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="d-flex justify-content-center w-100 mt-4">
                            <a href="{% url 'historiaclinica' paciente.id %}" class="btn btn-warning">Historia
                                Clinica</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="d-flex justify-content-center w-100 mt-4">
                            <a href="{% url 'historiaclinica' paciente.id %}" class="btn btn-warning">Nuevo
                                Ingresa</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="d-flex justify-content-center w-100 mt-4">
                            <a class="text-decoration-none btn btn-info" href="{% url 'registrar_turnos' paciente.id %}">Nuevo Turno</a>
                        </div>
                    </div>
                </div>

                <div class="caja-alerta">
                    {% if request.GET %}
                    {% if valid %}
                    <div>
                        <br><br>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Se ha cargado correctamente</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% else %}
                    <div>
                        <br><br>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>No se ha podido crear, verifique la información</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="d-flex justify-content-center w-100 mt-4">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    
</div>

{% else %}
{% include 'base/alerta.html' %}
{% endif %}

{% endblock %}