{% load static %}

<footer class="footer">
    <div class="caja-footer">
        <a href="https://www.facebook.com/" target="_blank"><img src="{% static 'facebook.png' %}" alt="" class="img-redes"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="{% static 'instagram.png' %}" alt="" class="img-redes"></a>
        <a href="https://twitter.com/" target="_blank"><img src="{% static 'twitter.png' %}" alt="" class="img-redes"></a>
    </div>
    <div class="texto-footer">
        Copy Right Ariel Mendez
    </div>
</footer>